<h1>Individual</h1>

<angular-icon-bell-icon class="icon"></angular-icon-bell-icon>
<angular-icon-bookmark-icon class="icon"></angular-icon-bookmark-icon>
<angular-icon-calculator-icon class="icon"></angular-icon-calculator-icon>
<angular-icon-calendar-icon class="icon"></angular-icon-calendar-icon>
<angular-icon-cloud-icon class="icon"></angular-icon-cloud-icon>
<angular-icon-cube-icon class="icon"></angular-icon-cube-icon>
<angular-icon-document-icon class="icon"></angular-icon-document-icon>
<angular-icon-gift-icon class="icon"></angular-icon-gift-icon>
<angular-icon-key-icon class="icon"></angular-icon-key-icon>
<angular-icon-inbox-icon class="icon"></angular-icon-inbox-icon>
