<h1>Individual</h1>

<angular-icon-general-icon
  class="icon"
  [icon]="'bell'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'bookmark'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'calculator'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'calendar'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'cloud'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'cube'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'document'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'gift'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'inbox'"
></angular-icon-general-icon>

<angular-icon-general-icon
  class="icon"
  [icon]="'key'"
></angular-icon-general-icon>
